<%- include('header'); %>
<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
    <a href="/transfer">Transfer</a>
</div>
<%- include('summary', {accounts: accounts.savings}); %>
<%- include('summary', {accounts: accounts.checking}); %>
<%- include('summary', {accounts: accounts.credit}); %>
<%- include('footer'); %>